<!doctype html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<title>Portfolio</title>
	<link rel="stylesheet" href="css/app.css">
	<script src="http://code.angularjs.org/1.0.1/angular-1.0.1.js"></script>
	<script src="js/controllers.js"></script>
</head>
<body ng-controller="ProjectCtrl">

	<table rules=cols border=1 frame=vsides>
		<tr>
			<td ng-repeat="category in categories" valign="top" style="width:140px">
				<b>{{category.language}}</b>
				<table>
					<tr ng-repeat="project in category.projects">
						<td>
							{{project.name}}
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</div>
 
</body>
</html>